<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDefUgU0LT1GFda3jUz0_XlAICbJLfP30E</string>
	<key>GCM_SENDER_ID</key>
	<string>461396451881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bui.dev.rainynight</string>
	<key>PROJECT_ID</key>
	<string>rainy-night-a9cee</string>
	<key>STORAGE_BUCKET</key>
	<string>rainy-night-a9cee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461396451881:ios:0e4e003682a54c1fb0b238</string>
</dict>
</plist>